---
layout: base.njk
title: Bilder
description: Fotogalerie
permalink: /pictures/index.html
---
<div class="gallery" data-gallery>
  {% for item in gallery %}
    <a href="{{ item.large }}" class="thumb" data-index="{{ loop.index0 }}" data-caption="{{ item.description | escape }}">
      <img src="{{ item.thumbnail }}" alt="{{ item.description }}">
    </a>
  {% endfor %}
</div>
