---
layout: base.njk
title: Bilder
description: Fotogalerie
permalink: /pictures/index.html
---
<div class="gallery" data-gallery>
  {% for item in gallery.pictures %}
    <a href="{{ item.src }}" class="thumb" data-index="{{ loop.index0 }}" data-caption="{{ item.caption | escape }}">
      <img src="{{ item.src }}" alt="{{ item.alt }}">
    </a>
  {% endfor %}
</div>
